<!DOCTYPE html>
<html lang="en">
    <body>
      <h1>Website Availability Rate: {{rate}}</h1>
      <h1>All Requests: {{all}}</h1>

      <h2>Failed requests + successful requests: {{total}}</h2>
      <h4>Successful Requests: {{success}}</h4>
      <h4>Failed Requests: {{failure}}</h4>

      <h2>Local + Remote + Exotic: {{total2}}</h2>
      <h4>Local: {{local}}</h4>
      <h4>Remote: {{remote}}</h4>
      <h4>Exotic: {{exotic}}</h4>

      <h2>Local: {{local}}</h2>
      <h4>Fail: {{fail_local}}</h4>
      <h4>Success: {{success_local}}</h4>
      <h4>Fail + Success: {{local_sum}}</h4>
      <h4>Local Availability Rate: {{local_rate}}</h4>

      <h2>Remote: {{remote}}</h2>
      <h4>Failed: {{fail_remote}}</h4>
      <h4>Success: {{success_remote}}</h4>
      <h4>Fail + Success: {{remote_sum}}</h4>
      <h4>Remote Availability Rate: {{remote_rate}}</h4>

    </body>
</html>
